# eclipse
bin/
*.launch
.settings/
.metadata/
.classpath/
.project/

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# vscode
.vscode/

# gradle
build/
.gradle/

# other
eclipse/
runs/
logs/
.cache/
libs/
mods/
*.bbmodel
*.pdn
